<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost:3000/styles/pdf.css">
    <title>Factura - Electroservice</title>
</head>
<body>
    <div class="invoice-container">
        <!-- Encabezado de la Factura -->
        <h1 style="color: red;">Electroservice</h1>
        <div class="invoice-header">
            <p></p>
        </div>
        <!-- Información del Cliente -->
        <table class="client-details">
            <tr>
                <td><strong>Cliente:</strong> <%= cliente.nombre %></td>
                <td><strong>Teléfono:</strong> <%= cliente.telefono %></td>
                <td><strong>Factura Nº</strong>: <%= factura.id %></td>
            </tr>
        </table>
        
        <hr/>
        <!-- Detalles de la reparación -->
        <table class="invoice-details">
            <tr>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Descripción del Fallo</th>
            </tr>
            <tr>
                <td><%= fabricante.descripcion %></td>
                <td><%= reparacion.modelo_electro %></td>
                <td><%= reparacion.desc_falla %></td>
            </tr>
        </table>

        <!-- Fechas de recepción y entrega -->
        <table class="dates">
            <tr>
                <td><strong>Fecha de Recepción:</strong> <%= fecha_recepcion %></td>
                <td><strong>Fecha de Entrega:</strong> <%= fecha_hoy %></td>
            </tr>
        </table>

        <!-- Pie de página -->
        <div class="footer">
            <p>Gracias por confiar en Electroservice</p>
            <p>Dirección: Eduardo Price 19, Trelew, Chubut (9100), Argentina.</p>
        </div>
    </div>
</body>
</html>
